body, html {
	margin: 0;
}
body {
	font-family: sans-serif;
	border-top: 4px solid #f90;
	padding: 2em 4em;
}

/* abstract */
.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav li {
	display: inline-block;
}
.nav li a {
	display: block;
	padding: .25em .5em;
}

.nav-account {
	float: right;
}

/* layout */
nav {
	background-color: #eee;
}
nav a {
	text-decoration: none;
}